---
import ImageWeb from "../components/ImageWeb.astro";
import Layout from "../layouts/Layout.astro";
---

<style>
  /* h2 {
    font-family: "DM Sans", sans-serif;
  } */
  .jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .dm-sans {
    font-family: "DM Sans", sans-serif;
  }
</style>

<Layout title="Dawarehouse | Dewa Portofolio. ">
  <div class="min-h-screen bg-black text-white">
    <nav class="font-bold flex justify-between w-full px-5 pt-2 italic">
      <h2 class="text-xl dm-sans">Home</h2>
      <h2 class="text-xl">Contact</h2>
    </nav>
    <main class="mt-16 px-5">
      <h1
        data-aos="fade-right"
        data-aos="400"
        class="text-5xl jakarta font-bold"
      >
        Dawarehouse
      </h1>
      <a
        data-aos="fade-right"
        data-aos-delay="420"
        target="_blank"
        href="https://github.com/DewaMadeWira/dawarehouse-app-next"
        class="italic text-sm hover:underline jakarta mt-2"
      >
        https://github.com/DewaMadeWira/dawarehouse-app-next
      </a>
      <div class="flex flex-col w-full items-center mt-10 gap-4 pt-3">
        <ImageWeb image="Home" page="Home Page" />
        <ImageWeb image="About" page="About Page" />
        <ImageWeb image="Warehouse" page="Warehouse Page" />
        <ImageWeb image="Item" page="Item Page" />
        <ImageWeb image="Item Add" page="Add Item Page" />
        <ImageWeb image="Incoming" page="Incoming Page" />
        <ImageWeb image="Incoming Add" page="Add Incoming Page" />
        <ImageWeb image="Outgoing" page="Outgoing Page" />
        <ImageWeb image="Outgoing Add" page="Add Outgoing Page" />
      </div>
    </main>
  </div>
</Layout>
