---
interface Props {
  //   transition: string;
  page: string;
  image: string;
}

const { page, image } = Astro.props;
---

<style>
  /* h2 {
    font-family: "DM Sans", sans-serif;
  } */
  .jakarta {
    font-family: "Plus Jakarta Sans", sans-serif;
  }
  .dm-sans {
    font-family: "DM Sans", sans-serif;
  }
</style>
<div class="flex w-full" data-aos="fade-right" data-aos-delay="500">
  <h1 class="text-3xl jakarta font-bold">{page}</h1>
</div>
<div data-aos="fade-down" data-aos-delay="550">
  <div
    class="border-[3px] h-fit w-fit font-bold hover:-translate-x-3 transition-all hover:-translate-y-3"
  >
    <img src={`${image}.png`} width="700" alt="" />
  </div>
</div>
